::selection {
	background: darkblue;
	color: white; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: darkblue;
	color: white; /* Gecko Browsers */
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	background-color: darkblue;	
}
body {
	font-family: 'proxima';
}
img {
	max-width: 100%;
}
#gallery,
#about,
#contact {
	position: absolute;
	bottom: 40px;
	left: -15px;
	color: transparent;
}
#about {
	bottom: 12px;
}
.font-xs {
	font-size: 12px;
}
.home-wrapper,
.gallery-wrapper,
.about-wrapper,
.contact-wrapper {
	position: relative;
}
.contact-wrapper .nomaps {
	min-height: 350px;
}
.contact-wrapper .maps div .glyphicon {
	font-size: 24px;
	margin-bottom: 10px;
}
.contact-wrapper .maps div {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 30%;
}
.contact-wrapper .nomaps div {
	text-align: left;
	position: absolute;
	left: 0;
	right: 0;
	top: 5%;
	padding-left: 70px;
	padding-right: 70px;
}
.contact-wrapper .nomaps div .fa {
	font-size: 30px;
	margin-right: 20px;
}
.contact-wrapper .maps {
	background: url('home-bg/contact-map.png') no-repeat bottom right;
	background-size: 100%;
	color: gold;
	min-height: 350px;
}
.ship-highlight img {
	margin: 0px -15px;
	max-width: calc(100% + 30px);
	width: calc(100% + 30px);
}
.ship-highlight {
	color: white;
	position: relative;
}
.ship-highlight h1 {
	position: absolute;
	left: 50%;
	top: 17%;
	font-size: 48px;
	z-index: 2;
}
.ship-highlight span {
	position: absolute;
	left: 50%;
	top: 43%;
	padding-right: 300px;
	z-index: 2;
}
.ship-highlight .btn-transparent {
	position: absolute;
	left: 50%;
	top: 54%;
	z-index: 2;
}
.ship-thumbnail-wrapper {
	position: relative;
	height: 200px;
	display: block;
}
.ship-thumbnail {
	position: absolute;
	top: -50px;
	width: 100%;
	display: block;
	padding: 10px;
	background: white;
}
.ship-highlight-overlay,
.ship-thumbnail-overlay {
    width: calc(100% - 20px);
    margin: 10px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 25px;
    color: white;
    height: calc(100% - 20px);
    background: rgba(0,0,0,0.6);
}
.ship-highlight-overlay {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
	background: rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.nopadding {
	padding: 0 !important;
}
.vincegroup-wrapper {
	background: #6b5c18 url('home-bg/glass-pattern.png') bottom left;
	text-align: center;
}
.vincegroup-wrapper h2 {
	color: white;
	margin-top: 30px;
}
.vincegroup-wrapper .img-grey-bg {
	width: 85px;
	height: 85px;
    margin: 45px 14px;
}
.vincegroup-wrapper .img-grey-bg img {
	max-width: 65px;
	max-height: 65px;
}
.btn-full-selection {
	display: inline-block;
	background: royalblue;
	color: white;
	font-size: 16px;
	padding: 10px 30px;
}
.fileinput {
	width: 100%;
}
.function-wrapper h3 {
	margin-top: 50px;
	margin-bottom: 20px;
}
.function-wrapper {
	text-align: justify;
}
.shop-product-list h4 {
	margin-top: 0px;
	font-weight: bold;
}
.shop-sidebar ul {
	list-style-type: none;
	padding-left: 0;
}
.shop-sidebar li {
	border-bottom: 1px solid #444;
	font-size: 16px;
	line-height: 45px;
}
.shop-sidebar ul ul {
	padding-left: 20px;
}
.shop-sidebar ul ul li {
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	line-height: 35px;
}
.price {
	color: darkblue;
}
.fa-shopping-cart {
	font-size: 36px !important;
	color: white;
	padding-top: 6px;
	cursor: pointer;
}
.fa-shopping-cart:hover {
	color: darkblue;
}
.fa-shopping-cart .qty {
	font-size: 10px;
	position: absolute;
	border-radius: 40%;
	border: 1px solid darkblue;
	background: darkblue;
	color: white;
	top: 19px;
	right: 0;
	height: 17px;
	width: 17px;
	line-height: 15px;
	font-weight: bold;
	text-align: center;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-row {
	background: #2b3641;
	border-bottom: 4px solid #2b3641;
}
.home-wrapper .navbar-row {
	background: transparent;
	border-bottom: none;
}
.navbar-default {
	background: transparent;
	color: black;
	border: none;
}
.navbar-default .navbar-nav>li>a {
	color: white;
	background: none;
	font-size: 15px;
}
.navbar-default .navbar-nav>li>a:hover {
	color: gold;
	background: none;
}
.navbar-nav {
	height: 80px;
}
.navbar-nav li {
	padding: 15px 5px;
}
.navbar-nav li .active {
	border-bottom: 5px solid white;
}
.narrowpadding {
	padding: 5px;
}
.btn.narrowpadding {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.home-wrapper .navbar-nav li .active {
	border-color: white;
}
.home-wrapper .navbar-default .navbar-nav>li>a {
	color: white;
}
.navbar-profile {
	padding: 0px !important;
    border-left: 1px solid;
    height: 45px;
    top: 20px;
}
.navbar-profile img {
	height: 39px !important;
	width: 39px !important;
}
.navbar-profile a {
	padding: 0px 15px !important;
}
.navbar-login-register {
    display: inline-table;
    padding-left: 7px;
}
.navbar-span-big {
	font-size: 18px;
	line-height: 20px !important;
}
.navbar-span-small {
	font-size: 8px;
	line-height: 20px !important;
    position: relative;
    top: -10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	border-bottom: 4px solid #03152f;
	background: transparent;
	color: black;
}
.registration-form {
    font-size: 12.5px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.registration-form h1 {
	text-align: center;
}
.registration-form h3 {
	color: #03152f;
	margin-bottom: 0;
}
.registration-form hr {
	border-top: 2px solid #03152f;
	margin-top: 5px;
}
.registration-form .form-control {
	margin-top: 6px !important;
	text-align: justify;
}
.height-correction {
	line-height: 40px;
}
.kendaraan-selector {
	font-size: 12px;
}
.btn-default {
    background-color: #aaa;
    color: white;
    border-color: #aaa;
}
.btn-primary {
	background: #03152f;
	padding: 5px 15px;
	border: 1px solid #03152f;
}
.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary:focus {
	background: orangered;
	border: 1px solid orangered;
}
.fileinput .thumbnail {
	border-radius: 20px;
}
.navbar-bottom {
	background: #2b3641;
	color: white !important;
}
.navbar-bottom li a {
	color: white !important;
    padding-top: 32px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-bottom li {
	padding: 0;
}
.navbar-bottom .fa {
    font-size: 26px;
    padding: 28px 20px;
    cursor: pointer;
}
.img-nav-color {
	height: 80px;
}
.img-nav-white {
    height: 62px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
}
.nav-bottom-separator {
    width: 1px;
    height: 80px;
    display: block;
    float: left;
    background: dimgray;
}
.copyright, .copyright a {
    line-height: 40px;
    color: #565656;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}
.home-wrapper {
	background: #8d9eb8 url('home-bg/volecia.png') no-repeat bottom right;
    background-size: 100% auto;
    background-repeat: no-repeat;
	color: white;
	text-align: center;
}
.ajax-loader {
    background: #777 url('ajax-loader.gif') no-repeat center;
    position: absolute;
    height: 100%;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
}
.btn-blue {
    background: cornflowerblue;
    border: 2px solid cornflowerblue;
    padding: 18px 50px;
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}
.btn-blue:hover {
    background: midnightblue;
    border: 2px solid midnightblue;
    padding: 18px 50px;
    display: block;
    margin: 0 auto;
    color: white;
}
.btn-transparent {
    background: transparent;
    border: 2px solid darkblue;
    padding: 18px 50px;
    display: block;
    margin: 0 auto;
    color: darkblue;
    font-weight: bold;
}
.btn-transparent-black {
    background: transparent;
    border: 2px solid black;
    padding: 18px 50px;
    display: block;
    color: black;
    font-weight: bold;
}
.btn-transparent-grey {
    background: transparent;
    border: 2px solid grey;
    padding: 18px 50px;
    display: block;
    color: grey;
    font-weight: bold;
}
.btn-transparent-black:hover,
.btn-transparent:hover {
    background: darkblue;
    border: 2px solid darkblue;
    padding: 18px 50px;
    display: block;
    color: white;
}
.btn {
	border-radius: 999px;
}
.btn-left {
	margin: 0;
}
.cart-wrapper .row > div {
	margin-top: 10px;
}
.cart-wrapper .btn-transparent-black {
	margin-bottom: 50px;
}
.shopping-cart-table .fa-remove {
	color: firebrick;
}
.shopping-cart-table img {
	max-height: 75px;
}
.shopping-cart-table .sku {
	display: block;
	color: grey;
	font-size: 11px;
}
.home-wrapper h1 {
	line-height: 100px;
}
.home-wrapper h1.title {
	margin-top: 110px;
	font-size: 60px;
	line-height: 55px;
}
.home-wrapper span {
	margin-bottom: 50px;
	color: #3f477c;
	font-weight: bold;
}
.about-wrapper {
	text-align: center;
	color: darkgrey;
}
.btn-gallery {
	position: absolute;
	left: 120px;
	bottom: 40px;
}
.btn-gallery:hover {
	background-color: firebrick;
	border-color: firebrick;
}
.carousel-control {
	background-image: none !important;
	display: none !important;
}
.carousel-inner img {
	margin: 0 auto !important;
}
.carousel-indicators {
    top: 50%;
    bottom: 50%;
    width: 0;
    left: 95%;
    margin: 0;
    padding: 0;
}
.carousel-indicators li,
.carousel-indicators .active {
	width: 15px;
	height: 15px;
	border: 1px solid white;
	display: block;
	margin: 14px !important;
}
.ps-current {
	height: 500px !important;
	background: black;
}
.pgwSlider .ps-caption {
	background-color:rgba(255,255,255,0.4) !important;
	color: black;
    width: calc(100% - 40px) !important;
    left: 20px !important;
    bottom: 20px !important;
    font-size: 14px !important;
    min-height: 130px !important;
    padding: 20px 40px !important;
}
.pgwSlider .ps-caption b {
	font-size: 26px !important;
	font-weight: normal;
}
.ps-list {
	max-height: 500px !important;
	overflow-y: scroll;
}
.ps-list li {
	height: 120px !important;
}
.ps-list span {
	display: none !important;
}
.ps-prev,
.ps-next {
	background: rgba(0,0,0,0.2) !important;
	border-radius: 0 !important;
	border: 1px solid white !important;
	padding: 15px 20px !important;
}
.ps-prev {
	left: 20px !important;
}
.ps-next {
	right: 20px !important;
}
.about-wrapper h1 {
	line-height: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
	color: black;
	font-weight: bold;
}
.gallery-wrapper {
	background: url('home-bg/gallery-bg.png') no-repeat top left;
	background-size: 100% auto;
	color: white;
}
.DG-prev {
    position: absolute;
    left: -60px;
    top: 50%;
}
.DG-next {
    position: absolute;
    right: -60px;
    top: 50%;
}
.gallery-wrapper h1 {
	line-height: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
	color: white;
	font-weight: bold;
	text-align: center;
	position: absolute;
	text-shadow: 1px 1px 5px black;
	width: 100%;
	z-index: 2;
}
.dg_slider img {
	max-height: 300px;
}

#carousel .montePrev, #carousel .monteNext, #carousel .montePlay { 
    display:block; 
    background-image:url("buttons.png"); 
    background-repeat:none;
    position:absolute;
    text-indent:-9999px;
}
#carousel .montePrev { width:29px; height:28px; background-position:0 -46px; bottom:-14px; left:376px; }
#carousel .montePrev:hover { background-position:0 -6px; }
#carousel .monteNext { width:29px; height:28px; background-position:-70px -46px; bottom:-14px; left:446px;}
#carousel .monteNext:hover { background-position:-70px -6px; }
#carousel .montePlay { width:41px; height:40px; background-position:-29px -120px; bottom:-20px; left:405px; }
#carousel .montePlay:hover { background-position:-29px -80px; }
#carousel .montePaused { background-position:-29px -40px; }
#carousel .montePaused:hover { background-position:-29px 0px; }
.btn-white {
	background: whitesmoke;
	color: #03152f;
	font-weight: bold;
	border: 1px solid whitesmoke;
	margin-top: 5px;
	padding: 10px 50px;
}
.home-desc img {
	margin: 15px 0px;
}
.home-desc-divider {
	display: block;
	height: 70px;
}
.home-desc .darkgoldenrod {
	color: darkgoldenrod;
	font-weight: bold;
	font-size: 16px;
}
.home-desc h1 {
	margin: 14px 0px;
}
.left-align {
	text-align: left;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
}
.right-align {
	text-align: right;
	padding-top: 120px;
	padding-left: 100px;
	padding-right: 30px;
}
.left-align .btn {
	position: absolute;
	margin-top: 10px;
}
.right-align .btn {
	position: absolute;
	right: 30px;
	margin-top: 30px;
}
.hide-cpr {
	height: 50px;
	background: white;
	display: block;
	width: 100%;
	bottom: 0;
}
.below-login {
	margin-top: 15px;
	font-size: 12px;
}
.below-login a {
	color: #03152f;
}
.below-login input[type=checkbox] {
	margin: -2px 3px;
}
.close {
	color: white;
	opacity: 1;
    font-size: 34px;
    line-height: 22px;
}
.panel-default {
	border-color: #03152f;
}
.panel-body {
	padding: 0;
}
.panel-heading {
	color: white !important;
	text-align: center;
	font-weight: bold;
	background: #03152f !important;
}
.red {
	color: red;
}
.orange {
	color: #03152f;
}
.orange_stripe {
	height: 2px;
	width: 10px;
}
.side_menu {
	background: #424242;
	height: 640px;
	color: white;
	font-size: 12px;
}
.side_menu .img-circle {
	margin-top: 20px;
    height: 100px;
    width: 100px;
}
.img-circle {
    object-fit: cover;
    margin: 0 auto;
}
.img-grey-bg {
	width: 150px;
	height: 150px;
	background: #e3e3e3;
	margin: 60px 20px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.img-grey-bg img {  
    max-height: 80%;  
    max-width: 80%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.nopadding {
	padding: 0 !important;
}
.navbar-logout {
    position: absolute;
    top: 50px;
    right: 0;
    background: #424242;
    z-index: 9999;
    width: 150px;
    padding: 10px 5px;
    border-radius: 5px;
}
.navbar-logout::before {
    background: url('triangle-navbar-popout.png') no-repeat top center;
    content: "";
    display: block;
    height: 23px;
    margin-top: -23px;
}
.navbar-logout a {
	display: block;
	text-decoration: none;
	color: white;
    margin-bottom: 4px;
    margin-top: 4px;
}
.login-form {
	margin-top: 120px;
	margin-bottom: 150px;
}
.login-form .form-control {
	margin-bottom: 5px;
}
.mobileNavWrapper {
    position: absolute;
    z-index: 3;
    top: 128px;
    background: #2a3641;
    border-bottom: 2px solid #03152f;
    text-align: left;
}
.mobileNavWrapper li {
	padding: 0px 0px;
}
.mobileNavWrapper li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 15px 30px;
}
.mobileNavWrapper li a:focus,
.mobileNavWrapper li a:hover {
	background: lightskyblue;
	color: #03152f;
}
.mobileNavWrapper li li {
	color: #ff5722;
	padding: 3px 50px;
}
.mobileNavWrapper li li:focus,
.mobileNavWrapper li li:hover {
	background: lightskyblue;
	color: #03152f;
}
.mobileNavWrapper .navbar-profile {
	border-left: none;
	top: 0;
}
.mobileNavWrapper .navbar-profile a {
    padding-left: 28px !important;
}
.mobileNavWrapper .img-circle {
    margin-top: 5px;
}
.mobileNavToggle {
    font-size: 25px;
    top: 17px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 7px;
    cursor: pointer;
}
.dataTables_length,
.pagination {
	display: none !important;
}
.narrow-padding span {
	margin-bottom: 0;
}
.alert-floating {
    position: fixed;
    top: 20px;
    left: 300px;
    right: 300px;
    box-shadow: 0 0 15px 2px #444;
}
.toggleWrapper a {
	color: white;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}
.driver-list {
	height: 640px;
	overflow-y: scroll;
}
.reportWrapper {
    text-align: center;
    height: 600px;
    overflow-y: scroll;
}
.table-fixed-height {
    height: 490px;
    margin-bottom: 7px;
    overflow: scroll;
    padding: 5px;
    border: 1px solid #ccc;
}
.top-active {
	background: #03152f !important;
}
@media only screen and (min-width: 768px) {
	.nav>li>a {
		padding-bottom: 30px;
	}
	.nav>li>a:focus, .nav>li>a:hover {
		background: #777;
	}
	.main_downlink_wrapper .glyphicon-chevron-right,
	.main_downlink_wrapper .glyphicon-chevron-left {
		display: none;
	}

}
@media only screen and (max-width: 767px) {
	.img-grey-bg {
		margin: 20px;
	}
	.nav-bottom-separator {
		display: none;
	}
	.navbar-bottom .fa {
	    padding: 28px 15px;
	}
	.copyright, .copyright a {
	    line-height: 18px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	.alert-floating {
		left: 50px;
		right: 50px;
	}
	.service-divider-summary {
		padding: 0px 20px;
	}
	.contact-detail {
		margin-top: 20px;
	}
	h1.title {
		margin-top: 110px !important;
	}
	.about-us {
		margin-top: 50px;
	}
	.service-1 {
		border: none;
	}
	.kendaraan-selector {
		margin-bottom: 5px;
	}
	.navbar-nav {
		height: auto;
	}
	.narrow-padding a {
		padding: 7px 30px !important;
	}
	.navbar-profile {
		position: relative;
	}
	.narrow-padding ul,
	.navbar-profile ul {
		list-style-type: none;
		padding: 0;
	}
	.narrow-padding ul li a,
	.navbar-profile ul li a {
		color: #0060CF !important;
		display: block;
		padding-left: 50px !important;
	}
	.mobileNavWrapper hr {
		border-top: 1px solid orangered;
	}
	.narrow-padding img {
		height: 39px !important;
		width: 39px !important;
	}
}

@font-face {
    font-family: "proxima";
    src: url("fonts/PROXIMANOVA-BOLDIT-WEBFONT.TTF");
    font-weight: bold;
    font-style: italic, oblique;
}
@font-face {
    font-family: "proxima";
    src: url("fonts/PROXIMANOVA-REGULARITALIC-WEBFONT.TTF");
    font-style: italic, oblique;
}
@font-face {
    font-family: "proxima";
    src: url("fonts/PROXIMANOVA-BOLD-WEBFONT.TTF");
    font-weight: bold;
}
@font-face {
    font-family: "proxima";
    src: url("fonts/PROXIMANOVA-REGULAR-WEBFONT.TTF");
}



/*REVISION 3 AUG 2020*/
.fly {
	font-weight: bold;
	color: black;
	font-size: 80px;
}
.taxies {
	font-weight: bold;
	color: midnightblue;
	font-size: 80px;
}
.vincegroup-wrapper {
    background: #004498 url('assets/home-bg/glass-pattern.png') bottom left;
}
.home-desc-divider {
	margin-top: 110px;
}
.form-control {
	margin-bottom: 20px;
}
.fav-contact {
	font-size: 40px;
	margin-right: 15px;
	color: darkgoldenrod;
}
.navbar-contact {
	background: white; 
	font-color: darkblue; 
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar-nav li .active {
    border-bottom: 5px solid #d5b900;
	color: #d5b900 !important;
}
.centergold {
	text-align: center;
	color: goldenrod;
}
.panel-body {
	padding: 5px 15px;
}
.carousel-indicators li, .carousel-indicators .active {
    width: 12px;
    height: 12px;
    border-color: orangered;
}
.carousel-indicators .active {
	background-color: orangered;
}
.masalah-left {
	text-align: left;
	padding-top: 70px;
}
.masalah-right {
	text-align: right;
	padding-top: 70px;
}
.nomaps {
	background: lightgrey;
}
.slideshow-separation {
	margin-top: 22vw;
}
@media only screen and (max-width: 767px) {
	.masalah-left, .masalah-right {
		padding-top: 0px;
	}
	.slideshow-separation {
		margin-top: 12vw;
	}
}