table td p {
	padding: 3px;
	text-align: center;
}
table td p.bg-primary {
	font-size: 8px;
	background: royalblue;
	color: white;
	margin-top: 3px;
}
td .fa {
	text-align: center;
	font-size: 16px;
	height: 27px;
	width: 27px;
	background: grey;
	color: whitesmoke;
	border-radius: 50%;
	padding: 5px;
}
.fa-confirmed {
	background: green !important;
}
img.thumbs {
	height: 80px;
}
img.thumbs-xs {
	height: 40px;
	padding: 2px;
}
img.thumbs-sm {
	height: 60px;
	padding: 2px;
}
.panel-image-body {
	height: 300px;
	overflow-y: auto;
}
.panel-image-wrapper {
	position: relative;
	display: inline-block;
	padding: 5px;
}
.panel-image-wrapper .fa {
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	height: 18px;
	width: 18px;
	text-align: center;
	background: red;
	padding-top: 2px;
	border-radius: 50%;
	font-size: 14px;
	cursor: pointer;
}
.count-order {
	background: red;
	color: white;
    padding: 1px 7px;
    border-radius: 25%;
}